# Copy this file to .env and edit the values
# Create a secret key using python manage.py shell'.
"""
>>> from django.core.management.utils import get_random_secret_key
>>> secret_key = get_random_secret_key()
>>> print(secret_key)
"""

DEBUG=True
TEMPLATE_DEBUG=True
SECRET_KEY=ARANDOMSECRETKEYWITHOUTQUOTES
DATABASE_URL=mysql://myuser:mypassword@myhost/mydatabase
ALLOWED_HOSTS=localhost,127.0.0.1,.herokuapp.com